.container {
    padding: 50px 0px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/gradiente_inicio.png);
}

.config{
    position: relative;
    display: flex;
    width: 80%;
    padding-bottom: 50px;
    gap: 30px;
    justify-content: center;
    align-items: center;

}

.config-alerta {
    position: relative;
    min-height: 110vh;
    width: 48%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 50px;
    padding: 20px;  
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.459);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.96);
}

.box-editar-valor{
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.box-inp-editar{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}

.config-alerta ul {
    list-style: none;
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

}

.btt-inps{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.config-alerta ul li {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}


.config-alerta ul li input {
    position: relative;
    width: 100%;
    height: 10px;
    outline: none;
} 

.config-alerta ul li input::before {
    content: '1%';
    position: absolute;
    left: 0;
    top: -20px;
    color: gray;
    font-size: 10px;
}

.config-alerta ul li input::after {
    content: '100%';
    position: absolute;
    right: 0;
    top: -20px;
    color: gray;
    font-size: 10px;
}

.config-alerta ul li input::-webkit-scrollbar-button {
    background-color: black;
}

.config-alerta ul li input::-webkit-meter-bar {
    background-color: #109A68;
}

.config-alerta ul li input::-webkit-progress-inner-element {
    background-color: #109A68;
}