.section {
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../assets/gradiente_inicio.png);
}

.container {
    position: relative;
    width: 80%;
    height: 90%;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.96);
}

.user-list {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    overflow-y: scroll;
    padding: 20px;
}

.user-list .list-header {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 1px rgba(0, 0, 0, .2);
    border-bottom: solid 1px rgba(0, 0, 0, .2);
    font-size: 20px;
}

::-webkit-scrollbar {
    width: 10px;
    background: rgba(0, 0, 0, .4);
    border-radius: 8px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .4);
    border-radius: 8px;
}

.user-list .list-user {
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px rgba(0, 0, 0, .2);
    font-size: 14px;
}

.user-list .list-user:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.email {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    border-right: solid 1px rgba(0, 0, 0, .2);
}
.data {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    border-right: solid 1px rgba(0, 0, 0, .2);
}

.tipo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
}

.buttons {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 68%;
    height: 52px;
    background: #109A68;
    color: white;
    border: solid 1px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.button:hover {
    cursor: pointer;
}